@model WebApplication1.Models.Album
@{ 
    ViewBag.Title = "Detail";
    Layout = "/Views/Shared/Layout.cshtml";
}



<div>
    <div>
        <h4>詳細資料</h4>
        <hr />
        <dl class="dl-horizontal">
           
                
           
            
            <dt>
                @Html.DisplayNameFor(model => model.學號)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.學號)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.姓名)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.姓名)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.班級)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.班級)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.星座)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.星座)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.生日)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.生日)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.facebook)
            </dt>

            <dd>
               <a href="@Html.DisplayFor(model => model.facebook)">link</a>
              
            </dd>

            @*<dt>
                <label>Genre</label>

            </dt>

            <dd>
                <span>@Model.Genre</span>
             </dd>*@

</dl>
    </div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
        @Html.ActionLink("返回", "Index")
    </p>

</div>